.ShopItem {
  margin: 8rem 1rem 1rem 1rem;
  color: var(--text-color);

  img {
    height: 32rem;
    width: auto;
    margin: 3rem;
    border-radius: 30px;
  }
}

.ShopItemTitle {
  text-align: center;
  font-size: 2rem;
}

.ShopItemInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.ShopItemTehInfo {
  font-size: 1.5rem;
  margin-left: 6rem;

  button {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .ShopItemTitle {
    font-size: 1.5rem;
  }

  .ShopItemTehInfo {
    margin-left: 0.2rem;

    p {
      margin: 0.4rem;
    }
  }

  .ShopItem img {
    height: 24rem;
    width: auto;
  }
}

@media only screen and (max-width: 550px) {
  .ShopItemInfo {
    flex-direction: column;
  }

  .ShopItemTehInfo {
    font-size: 0.8rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0.1rem;
    }

    button {
      font-size: 1rem;
      margin: 1rem;
    }
  }

  .ShopItem img {
    height: 18rem;
    width: auto;
    margin: 0.5rem;
  }
}
