.button {
  background-color: var(--bg-card-color);
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0.15rem solid var(--text-color);
  margin: 0.3rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  transition: all 0.2s;
  border-radius: 0.5rem;
  
}
.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
@media all and (max-width: 30rem) {
  .button {
    display: block;
    margin: 0.4rem auto;
  }
}
