.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.cartItem {
  width: 42rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  margin: 2rem;
}
.cartItem h1 {
  font-size: 2rem;
}

.cartItem img {
  width: 10rem;
  margin: 2rem;
}

.cartItem .description {
  /* width: 100%; */
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countHandler input {
  width: 3rem;
  text-align: center;
}

.cleanCartItemLogo:hover {
  cursor: pointer;
}

.checkout button {
  width: 9rem;
  height: 3rem;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}

.checkout h1 {
  margin: 1rem;
}
.checkout {
  display: block;
}

@media only screen and (max-width: 730px) {
  .cartItem {
    width: 26rem;
    height: 16rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .cartItem {
    width: 18rem;
    height: 12rem;
    margin: 1rem;
    padding: 0.8rem;
  }

  .cartItem img {
    width: 7rem;
    margin: 1rem;
  }

  .description p {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkout button {
    margin: 0.5rem;
  }

  .cart h1 {
    font-size: 1.4rem;
  }
}
