.shopTitle {
  margin: 120px 0px 0px 0px;
  text-align: center;
  font-size: 2rem;
}

.products {
  margin: 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product {
  border-radius: 15px;
  width: 15rem;
  height: 28rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: auto;
  height: 16rem;
}

.product .description {
  text-align: center;
}

.product:hover {
  cursor: pointer;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  font-family: "Barlow", sans-serif;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .shopTitle {
    font-size: 1.5rem;
  }
  .product {
    margin: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .shopTitle {
    margin: 120px 5px 0px 5px;
    font-size: 1.2rem;
  }
  .product {
    margin: 1rem;
  }
  .product img {
    height: 14rem;
  }
}
