/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,400&display=swap');



.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Shantell Sans', cursive; */
  font-family: 'Barlow', sans-serif;

}

body {
  padding: 0;
  margin: 0;
}

body,
h1 {
  margin: 0;
}
