@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,400&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
}

body {
  padding: 0;
  position: relative;
}

body,
h1 {
  margin: 0;
}

